* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

body {
  font-family: sans-serif;
  color: #171717; }
  body #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 90%;
    /*.footer
     * display: flex
     * flex-direction: row
     * justify-content: space-around
     * align-items: center
     * width: 100%
     * height: 100px
     * background-color: $black-color
     * color: $grey-color
     * margin-bottom: 1rem
     *
     * #footer2
     *   display: flex
     *   flex-direction: row
     *   justify-content: flex-end
     *   align-items: center
     *
     *   img
     *     width: 100px
     *     height: auto */ }
    body #wrapper #header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100px;
      background-color: #fff3f3; }
    body #wrapper #mainnav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 40px;
      background-color: #8e1616; }
    body #wrapper #mainnav ul li {
      display: inline-block;
      list-style-type: none;
      margin: 5px 0 5px 1rem; }
    body #wrapper #mainnav ul li a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
    body #wrapper #maincontent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%; }
      body #wrapper #maincontent #mainsec1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%; }
      body #wrapper #maincontent #mainsec2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 200px;
        background-color: #cecece;
        color: #171717; }
      body #wrapper #maincontent #mainsec3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: space-around;
            -ms-flex-align: space-around;
                align-items: space-around;
        width: 100%;
        height: 25rem;
        text-align: center; }
      body #wrapper #maincontent #mainsec3 form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: space-around;
            -ms-flex-align: space-around;
                align-items: space-around;
        width: 100%; }
      body #wrapper #maincontent #mainsec3 form div > * {
        width: 100%;
        height: 2rem;
        margin: 1rem 0; }
      body #wrapper #maincontent button {
        height: 3rem;
        padding: 0.5rem 3rem; }
    body #wrapper #footernav ul li {
      display: inline-block;
      list-style-type: none;
      margin: 5px 0 5px 1rem; }
    body #wrapper #footernav ul li a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */